body 
{
	width:350px;
	margin:0;
	padding:0;
	overflow-y: hidden;
	font-family:"Myriad Pro", "Century Gothic", Calibri, Arial;
}

*:focus { outline:none; }
a { text-decoration:none; }
.clear { clear:both; }


/*//////////////////////////////////////////////////
POST
//////////////////////////////////////////////////*/
#post 
{
	position:fixed;
	overflow-y: hidden;
	top:0;
	width:100%;
	height:60px;
	padding:10px 3% 10px 3%;
	
	background: #f8f8f8; /* Old browsers */
	background: -moz-linear-gradient(top,  #f8f8f8 0%, #e6e6e6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#e6e6e6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f8f8f8 0%,#e6e6e6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f8f8f8 0%,#e6e6e6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f8f8f8 0%,#e6e6e6 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f8f8f8 0%,#e6e6e6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#e6e6e6',GradientType=0 ); /* IE6-9 */
	
	border-bottom:1px solid #AAAAAA;
	z-index:10;
}

#post textarea
{
	width:69%;
	margin-right:3%;
	height:60px;
	resize: none;
	float:left;
	
	border:1px solid #999999;
	padding:5px;
	
	-moz-box-shadow: inset 0px 1px 2px 0px #cfcfcf;
	-webkit-box-shadow: inset 0px 1px 2px 0px #cfcfcf;
	-o-box-shadow: inset 0px 1px 2px 0px #cfcfcf;
	box-shadow: inset 0px 1px 2px 0px #cfcfcf;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=180, Strength=3);
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#post textarea:hover
{
	border:#666666 1px solid;
}

#post input, #login #login_button
{
	width:77px;
	height:60px;
	float:left;
	
	background-image: url('images/submit.png'); /* ADDED */
	background-size:100%;
	background-position: 0 0;
	border:0;
	outline:none;
}

#post input:hover, #login #login_button:hover
{
	background-position: 0px 180px;
}

#post input:active, #login #login_button:active
{
	background-position: 0px 120px;
}

#post input.disabled
{
	background-position: 0px 60px;
	cursor:default;
}

	
/*//////////////////////////////////////////////////
LIENS
//////////////////////////////////////////////////*/
#liens 
{
	margin:85px 10px 0px 10px;
}


#liens ul 
{
	list-style:none;
	margin:0;
	padding:0;
}

#liens li 
{
	border-left:#86C12F 0px solid;
	margin-top:5px;
	height:55px;
	
	border-bottom-width:3px;
	-webkit-border-bottom-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(221,221,221,0)), color-stop(1%,rgba(221,221,221,0.02)), color-stop(49%,rgba(221,221,221,1)), color-stop(100%,rgba(221,221,221,0)));
}

#liens li div
{
	width:0px;
	height:60px;
	margin-right:0px;
	float:left;
	background:#86C12F;
	-webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.320, 1.275); 
	text-align:center;
	z-index:2;
	position:relative;
}

#liens li:hover div
{
	width:35px;
	height:60px;
	vertical-align:middle;
	margin-right:10px;
}

#liens li #like_button
{
	width:25px;
	height:24px;
	margin:5px;
	border:0;
	outline:none;
	
	background-image: url('images/like.png');
	background-repeat:no-repeat;
	background-size:100%;
	background-position:0px 0px;
	
	opacity:0;
	-webkit-transition: opacity 0.1s cubic-bezier(0.000, 1.115, 0.030, 0.985) 0.2s; 
	z-index:1;
	position:relative;
}

#liens b
{
	color:#FFFFFF;
	font-size:15px;
	display:inline-block;
	font-weight:normal;
	
	opacity:0;
	-webkit-transition: opacity 0.1s cubic-bezier(0.000, 1.115, 0.030, 0.985) 0.2s; 
	z-index:1;
	position:relative;
}

#liens li:hover #like_button, #liens li:hover b
{
	opacity:1;
}

#liens #like_button:hover
{
	background-position:0px -23px;
}

#liens #like_button:active, #liens #like_button.liked
{
	background-position:0px -47px !important;
	cursor:default;
}

#liens ul li a
{
	float:left;
	width:280px;
	height:60px;
	z-index:3;
	position:relative;
	background-color:#FFFFFF;
}

#liens h2
{
	display:block;
	padding:0;
	margin:0;
	
	font-size:15px;
	font-weight:normal;
	color:#333333;
	
    overflow:hidden;
    white-space:nowrap;
    -ms-text-overflow:ellipsis;
    text-overflow:ellipsis;
}

#liens span, #login span
{
	display:block;	
	font-size:12px;
	color:#777777;
}

#liens em
{
	font-size:12px;
	font-style:italic;
	color:#545454;
	display:inline-block;
}

#liens img
{
	width:100%;
	margin-top:5px;
}


/*//////////////////////////////////////////////////
LOGIN
//////////////////////////////////////////////////*/
#login
{
	display:none;
		
	top:0;
	width:100%;
	height:60px;
	padding:10px;
}

#login h1, #liens h1
{
	display:block;
	padding:0;
	margin:0;
	
	font-size:20px;
	font-weight:normal;
	text-transform:uppercase;
	color:#333333;
}

#login form
{
	margin-top:10px;
}

#login fieldset
{
	margin:0; padding:0;
	width:70%;
	float:left;
	margin-right:2%;
	border:0;
}

#login #user, #login select
{
	width:100%;
	resize: none;
	float:left;
	
	border:1px solid #999999;
	padding:5px;
	
	-moz-box-shadow: inset 0px 1px 2px 0px #cfcfcf;
	-webkit-box-shadow: inset 0px 1px 2px 0px #cfcfcf;
	-o-box-shadow: inset 0px 1px 2px 0px #cfcfcf;
	box-shadow: inset 0px 1px 2px 0px #cfcfcf;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=180, Strength=3);
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#login #login_button
{
	width:77px;
	height:60px;
	margin-top:3px;
	float:left;
	
	background-image: url('images/submit.png'); /* ADDED */
	background-size:100%;
	background-position: 0 0;
	border:0;
	outline:none;
}


.loading 
{
	border-bottom:none !important;
}